{{#foreach posts}}
    <article class="post">
        <header>
            <p class="title"><a href="{{url}}" class="post-title">{{title}}</a></p>
            <p class="info">
                tags
                {{#foreach tags}}
                    <a class="post-tag" href="/tag/{{slug}}">{{name}}</a>
                {{/foreach}}
            </p>
        </header>
        <section class="glance">
            <p>{{excerpt words="40"}}</p>
        </section>
        <footer>
            <time class="date" datetime="{{date format="YYYY-MM-DD"}}">update&nbsp;time:&nbsp;{{date format="YYYY/MM/DD"}}</time>
        </footer>
    </article>
{{/foreach}}