<div class="pagination">
    <div class="up">
        {{#if prev}}
            <a href="{{page_url prev}}">Previous Page</a>
        {{else}}
            <span title="no more!">Previous Page</span>
        {{/if}}
    </div>
    <div class="text">
        {{page}}/{{pages}}
    </div>
    <div class="down">
        {{#if next}}
            <a href="{{page_url next}}">Next Page</a>
        {{else}}
            <span title="no more!">Next Page</span>
        {{/if}}
    </div>
</div>