<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}"/>
    <link href="{{asset "css/all.css"}}" rel="stylesheet" />
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<header class="header">
    <div class="container">
        <div class="icons">
            {{#if @blog.logo}}
                <a href="{{@blog.url}}"><img src="{{@blog.logo}}"></a>
            {{/if}}
        </div>
        {{navigation}}
    </div>
</header>
<div class="post-body">
    {{{body}}}
</div>
<footer class="col-md-12 footer-info">
    Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}" class="url-link normal">{{@blog.title}}</a>（Website based on <a
    href="https://ghost.org" class="url-link normal">Ghost</a>, Themes <a class="url-link normal" href="https://github.com/humingzhi/plain">plain</a>）
</footer>
{{ghost_foot}}
<script type="text/javascript" src="{{asset "js/prepare.js"}}"></script>
</body>
</html>
