{{!< default}}
<div class="main-left">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
    {{pagination}}
</div>
<div class="main-right">
    <div class="left-plugin">
        <p class="title">Recent post</p>
        {{#get "posts" limit="8" order="created_at desc"}}
            <ol>
                {{#foreach posts}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/foreach}}
            </ol>
        {{/get}}
    </div>
    <div class="left-plugin">
        <p class="title">Tags</p>
        {{#get "tags" order="count.posts desc"}}
            {{#foreach tags}}
                <a class="post-tag" href="/tag/{{slug}}">{{name}}</a>
            {{/foreach}}
        {{/get}}
    </div>
</div>
